APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:pdiFAz8Hw7zF8xsQMa5zVMvk4xpW52sJKO8cHmqccGI=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=cinedot
DB_USERNAME=postgres
DB_PASSWORD=kochomuonok1

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

HOLD_SEAT_EXPIRE_SECONDS=600

MAIL_MAILER=smtp
MAIL_HOST=smtp.resend.com
MAIL_PORT=465
MAIL_USERNAME=resend
MAIL_PASSWORD=re_bBnerH76_7eTFC1Wgo2JzGpTo4eP58RBv
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="no-reply@haidangmap.me"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

RESEND_API_KEY=re_bBnerH76_7eTFC1Wgo2JzGpTo4eP58RBv
RESEND_MAIL_FROM="no-reply@haidangmap.me"
FRONTEND_URL="http://localhost:3000"

VNP_TMN_CODE=X30Z4K1B
VNP_HASH_SECRET=GCCOFZVEFCGWUBXFNOVSPYEDLZHFMWWG
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=https://cinedot_be.test/api/v1/payments/vnpay/return